@import "tailwindcss";

@import "react-notion-x/src/styles.css";
@import "prismjs/themes/prism-tomorrow.css";
@import "katex/dist/katex.min.css";

@theme {
  --font-pretendard: "Pretendard", sans-serif;
  --font-lato: "Lato", sans-serif;
}

@custom-variant dark (&:where(.dark, [data-theme=dark]));

:root {
  --bg-color: #FFFFFF;
  --text-color: #000000;
  --border-color: #e5e7eb;
  --hover-bg-color: #F7F7F7;
}

[data-theme='dark'],
.dark {
  --bg-color: #000000;
  --text-color: #FFFFFF;
  --border-color: #333333;
  --hover-bg-color: #2C2C2C;
}

body {
  @apply bg-[var(--bg-color)] text-[var(--text-color)];
}

@layer utilities {
  .border {
    border-color: var(--border-color);
  }
}

.notion {
  line-height: 1.8 !important;
  color: var(--notion-text-color) !important;
}

.notion-quote {
  background-color: rgb(248, 249, 250);
  padding: 16px 16px 16px 32px !important;
  font-size: 17px !important;
  border-left-color: rgb(32, 201, 151) !important;
}

.notion-table-of-contents {
  display: none;
}

.notion-yellow_background {
  background-color: var(--notion-yellow-background) !important;
}