@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="light"] {
  @apply bg-white text-black;
}

[data-theme="dark"] {
  @apply bg-black text-white;
}

:root {
  --bg-color: #FFFFFF;
  --border-color: #e5e7eb;
  --hover-bg-color: #F7F7F7;
}

[data-theme='dark'] {
  --bg-color: #000000;
  --border-color: #333333;
  --hover-bg-color: #2C2C2C;
}

@layer utilities {
  .border {
    border-color: var(--border-color);
  }
}